/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* FUENTES */
@font-face {
  font-family: Playfair;
  src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf); }

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf); }

/* HEADER */
.header nav {
  background-color: #C5D8A4; }
  .header nav img {
    border-radius: 10px;
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 #534340, 0 6px 20px 0 #BB9981; }
  .header nav ul li a {
    color: #534340;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #BB9981; }
    .header nav ul li a:hover {
      color: #BB9981;
      transition: 1s;
      text-shadow: none; }

/* BODY */
body {
  font-family: Playfair, sans-serif;
  background-color: #F4FCD9; }

p {
  font-family: Poppins, sans-serif;
  color: #534340; }

/* MAIN */
.sectionBienvenidos {
  text-align: center;
  font-size: large;
  margin: 80px; }

/* Aparecer texto */
.aparecerTexto {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: once; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* contacto.html */
.btnContacto {
  background-color: #534340;
  color: antiquewhite; }

/* IMG Carousel */
.carousel-item {
  border-radius: 5px; }

/* Accordion */
.accordion-button {
  color: #534340; }

/* Card Contacto */
.card-header-contacto {
  background-color: #C5D8A4;
  color: #534340;
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #534340; }

.card-contacto {
  border-style: solid;
  border-width: 2px;
  border-color: #534340; }

/* Table Head Telefonos */
.table-head-telefonos {
  background-color: #C5D8A4;
  color: #534340;
  font-weight: bold; }

/* Padding en  cards de historia.html */
.accordion p {
  padding: 10px; }

.main ul li {
  color: #534340; }

.main h1 {
  color: #534340; }

.main h2 {
  color: #534340; }

.main h5 {
  color: #534340; }

/* FOOTER */
footer {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: #C5D8A4;
  color: #534340;
  font-weight: bold; }
