/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* FUENTES */
@font-face {
  font-family: Playfair;
  src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf); }

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf); }

/* HEADER */
.header nav {
  background-color: #F7D1BA; }
  .header nav img {
    border-radius: 10px;
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 #557571, 0 6px 20px 0 #D49A89; }
    .header nav img:hover {
      opacity: 1;
      box-shadow: 0 2px 4px 0 #557571, 0 3px 10px 0 #D49A89; }
  .header nav ul li a {
    text-decoration: none;
    color: #557571;
    font-weight: bold;
    text-transform: uppercase; }
    .header nav ul li a:hover {
      color: #D49A89;
      transition: 1s;
      text-shadow: 1px 1px 1px #D49A89; }

.header .navbar-light .navbar-nav .nav-link {
  color: #557571; }
  .header .navbar-light .navbar-nav .nav-link:hover {
    color: #D49A89; }

/* BODY */
body {
  font-family: Playfair, sans-serif;
  background-color: #F4F4F4; }

p {
  font-family: Poppins, sans-serif;
  color: #557571; }

/* MAIN */
.sectionBienvenidos p {
  text-align: center;
  font-size: large;
  margin: 20px; }

/* Aparecer texto */
.aparecerTexto {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: once; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* contacto.html */
.btnContacto {
  background-color: #557571;
  color: #F4F4F4; }

/* IMG Carousel */
.carousel-item {
  border-radius: 5px; }

/* Accordion */
.accordion-button {
  color: #D49A89;
  font-weight: bold; }

.accordion-button:not(.collapsed) {
  background-color: #F7D1BA;
  color: #557571;
  box-shadow: 0 0 5px #D49A89; }

.accordion-button.collapsed {
  box-shadow: none; }

.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  box-shadow: none; }

.accordion-body p:first-child {
  color: #D49A89; }

/* Table Head Telefonos */
.table-head-telefonos, .card-header-contacto {
  background-color: #F7D1BA;
  color: #557571;
  font-weight: bold; }

/* Color items de listas y labels */
.main ul li {
  color: #557571; }

.main label {
  color: #557571;
  font-style: italic; }

/* Color del focus de contacto */
.form-control:focus {
  border-color: #557571;
  box-shadow: 0 0 5px #D49A89; }

.form-select:focus {
  border-color: #557571;
  box-shadow: 0 0 5px #D49A89; }

/* Declarando un mapa y utilizando map-get*/
.main h1, .main h2 {
  color: #557571;
  text-align: center; }

.main h4, .main h5 {
  color: #D49A89;
  font-weight: bold; }

/* Extend */
/* Card Contacto */
.card-header-contacto {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #557571; }

.card-contacto {
  border-style: solid;
  border-width: 2px;
  border-color: #557571; }

/* Empleando Mixin */
.btnContacto {
  background-color: #557571; }
  .btnContacto:hover {
    background-color: #D49A89;
    color: #557571; }

/* FOOTER */
footer {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: #F7D1BA;
  color: #557571;
  font-weight: bold; }
  footer .logo {
    border-radius: 10px;
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 #557571, 0 6px 20px 0 #D49A89;
    width: 100px; }
    footer .logo:hover {
      opacity: 1;
      box-shadow: 0 2px 4px 0 #557571, 0 3px 10px 0 #D49A89; }
  footer a {
    text-decoration: none;
    color: #557571; }
    footer a:hover {
      color: #D49A89; }
