/* HEADER */
.header {
    nav {
        background-color: $colorClaro;
        img {
            border-radius: 10px;
            opacity: 0.8;
            box-shadow: 0 4px 8px 0 $colorOscuro, 0 6px 20px 0 $colorMedio;
            &:hover {
                opacity: 1;
                box-shadow: 0 2px 4px 0 $colorOscuro, 0 3px 10px 0 $colorMedio;
            }
        }
        ul {
            li {
                a {
                    text-decoration: none;
                    color: $colorOscuro;
                    font-weight: bold;
                    text-transform: uppercase;
                    &:hover {
                        color: $colorMedio;
                        transition: 1s;
                        // text-shadow: none;
                        text-shadow: 1px 1px 1px $colorMedio;
                    }
                }
            }
        }
    }
}
.navbar-light .navbar-nav .nav-link {
    color: $colorOscuro;
    &:hover {
        color: $colorMedio;
    }
}