/* BODY */
body {
    font-family: Playfair, sans-serif;
    background-color: $colorFondo;
}

p {
    font-family: Poppins, sans-serif;
    color: $colorOscuro;
}

/* MAIN */
.sectionBienvenidos {
    p {
        text-align: center;
        font-size: large;
        margin: 20px;
    }
}

/* Aparecer texto */
.aparecerTexto {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: once;
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* IMG Carousel */
.carousel-item {
    border-radius: 5px;
}

/* Accordion */
.accordion-button {
    span{
        color: $colorFondo;
    }
    color: $colorOscuro;
    font-weight: bold;
}
.accordion-button:not(.collapsed) {
    background-color: $colorClaro;
    color: $colorOscuro;
    box-shadow: 0 0 5px $colorMedio;
}
.accordion-button.collapsed {
    box-shadow: none;
}
.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    box-shadow: none;
}
.accordion-body {
    p:first-child {
        color: $colorMedio;
    }
}

/* Table Head Telefonos */
.table-head-telefonos {
    background-color: $colorClaro;
    color: $colorOscuro;
    font-weight: bold;
}

/* Color items de listas y labels */
.main {
    ul {
        li {
            color: $colorOscuro;
        }
    }
    label {
        color: $colorOscuro;
        font-style: italic;
    }
}

// Oculta main en login.html
.mainOculto {
    display: none;
}

/* Color del focus de contacto */
.form-control:focus {
    border-color: $colorOscuro;
    box-shadow: 0 0 5px $colorMedio;
}
.form-select:focus {
    border-color: $colorOscuro;
    box-shadow: 0 0 5px $colorMedio;
}

/* Declarando un mapa y utilizando map-get*/
$estilos:(
    colorOscuro: $colorOscuro,
    colorMedio: $colorMedio,
    colorClaro: $colorClaro,
    alineado: center,
    weight: bold
);
.main {
    h2 {
        color: map-get($map: $estilos, $key: colorOscuro);
        text-align: map-get($map: $estilos, $key: alineado);
        @supports (--css: variables) {
            background: linear-gradient(to right, $colorOscuro 30%, $colorFondo);
            color: transparent;
            background-clip: text;
        }
        &::selection {
        color: white;
        background: map-get($map: $estilos, $key: colorClaro);
        }
    }
    h4,h5 {
        color: map-get($map: $estilos, $key: colorMedio);
        font-weight: map-get($map: $estilos, $key: weight);
    }
    .nav {
        .nav-link {
            color: $colorOscuro;
        }
    }
}

/* Extend */
/* Card Contacto */
.card-header-contacto {
    @extend .table-head-telefonos;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: $colorOscuro;
}
.card-contacto {
    border-style: solid;
    border-width: 2px;
    border-color: $colorOscuro;
}

/* Empleando Mixin */
@mixin colorDeFondo($color) {
    background-color: $color;
    color: $colorFondo;
    &:hover{
        background-color: $colorMedio;
        color: $colorOscuro;
    }
}
.btnContacto {
    @include colorDeFondo($colorOscuro);
}

.btnLogin {
    @include colorDeFondo($colorOscuro);
}

#tituloLogin {
    color: $colorOscuro;
}

#infoApp{
    a {
        color: $colorMedio;
        text-decoration: none;
    }
}

#modalInstruccionesTitle{
    color: $colorMedio;
}