/* BODY */
body {
    font-family: Playfair, sans-serif;
    background-color: $colorFondo;
}

p {
    font-family: Poppins, sans-serif;
    color: $colorMarron;
}

/* MAIN */
.sectionBienvenidos {
    text-align: center;
    font-size: large;
    margin: 80px;
}

/* Aparecer texto */
.aparecerTexto {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: once;
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* contacto.html */
.btnContacto {
    background-color: $colorMarron;
    color:antiquewhite;
}

/* IMG Carousel */
.carousel-item {
    border-radius: 5px;
}

/* Accordion */
.accordion-button {
    color: $colorMarron;
}
.accordion-header {
    border-color: $colorMarron;
    box-shadow: 0 0 5px $colorMarronClaro;
}

/* Card Contacto */
.card-header-contacto {
    background-color: $colorVerde;
    color: $colorMarron;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: $colorMarron;
}
.card-contacto {
    border-style: solid;
    border-width: 2px;
    border-color: $colorMarron;
}

/* Table Head Telefonos */
.table-head-telefonos {
    background-color: $colorVerde;
    color: $colorMarron;
    font-weight: bold;
}

/* Padding en  cards de historia.html */
.accordion {
    p {
        padding: 10px;
    }
}

/* Color items de listas y labels */
.main {
    ul {
        li {
            color: $colorMarron;
        }
    }
    h1 {
        color: $colorMarron;
    }
    h2 {
        color: $colorMarron;
    }
    h5 {
        color: $colorMarron;
    }
    label {
        color: $colorMarron;
        font-style: italic;
    }
}

/* Color del focus de contacto */
.form-control:focus {
    border-color: $colorMarron;
    box-shadow: 0 0 5px $colorMarronClaro;
}
.form-select:focus {
    border-color: $colorMarron;
    box-shadow: 0 0 5px $colorMarronClaro;
}

/* Empleando Mixin */
@mixin colorDeFondo($color){
    background-color: $color;
    &:hover{
        background-color: $colorMarronClaro;
        color: $colorMarron;
    }
}
.btnContacto {
    @include colorDeFondo($colorMarron);
}